<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166472686541-bmccmcnoe3n1v49ilcf5kuah8q1lru21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166472686541-bmccmcnoe3n1v49ilcf5kuah8q1lru21</string>
	<key>API_KEY</key>
	<string>AIzaSyCmCfjudrTYESUPk3KU_2eF0Leco391PwI</string>
	<key>GCM_SENDER_ID</key>
	<string>166472686541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gbekyc.gbEKyc</string>
	<key>PROJECT_ID</key>
	<string>e-kyc-584c8</string>
	<key>STORAGE_BUCKET</key>
	<string>e-kyc-584c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166472686541:ios:a767cd0c5a62bd6a2b8284</string>
</dict>
</plist>